# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# Android
android/.gradle/
android/.kotlin/
android/app/build/
android/local.properties
android/gradle-wrapper.jar
android/gradlew
android/gradlew.bat
android/key.properties
android/app/google-services.json

# Gradle
.gradle/
captures/
.cxx/
gradle-wrapper.jar
gradlew
gradlew.bat
local.properties

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/ephemeral/
ios/Runner/GeneratedPluginRegistrant.*

# macOS
macos/Flutter/ephemeral/
macos/Pods/
macos/Runner/GeneratedPluginRegistrant.*

# Windows/Linux/Web generated
GeneratedPluginRegistrant.java

# IDE
.idea/
.vscode/
*.iml

# Logs
*.log

# Keystore / signing secret
key.properties
**/*.keystore
**/*.jks